.footer {
  background-color: var(--dark-pink);
  height: auto;
  padding: 84px 0;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 70px;
  height: 100%;
}

.footer-logo {
  width: 260px;
  height: 70px;
  background-image: url("../img/fantastika-logo-mobile.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.footer-infos {
  color: var(--white);
}

.footer-title {
  font-size: 3rem;
}

.footer-list {
  margin-top: 33px;
  line-height: 3.5rem;
}

.footer-item > a {
  font-size: 2.5rem;
  color: var(--white);
}

.footer-item > a:hover{
  color: var(--black-t1);
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 54px 0;
  }

  .footer-container {
    flex-direction: column;
    text-align: center;
    gap: 50px;
  }
}
