.main-welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../img/1st-desktop-bg.webp") center bottom / cover no-repeat
    fixed;
  height: 90vh;
}

.welcome-title {
  margin-top: 100px;
  color: var(--white);
  font-size: 5rem;
  max-width: 530px;
  text-align: center;
}

.welcome-logo {
  margin-top: 26px;
  width: 160px;
  height: 160px;
  background-image: url("../svg/fantastika-logo.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .welcome-title {
    margin-top: 60px;
  }
}
