:root{
  --header-bg: #EDB16F;
  --link-hover: #694c20bd;
  --default: #000;
  --side-menu: #e7e5e3;
  --side-menu-link: rgba(94, 85, 85, 0.596);
  --text-decoration: #6b5959ee;
  --border-decoration: #c51b10;  
}