*{
  margin: 0;
  padding: 16px 0;

}


.um{
  padding: 16px;
  display: inline-block;
  width: 250px;
  background-color: red;
}

.dois{
  padding: 16px;
  display: inline-block;
  width: 250px;
  background-color: yellow;
}