* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  list-style: none;
}

html {
  font-size: 62.5%;
  font-family: "Nunito", sans-serif;
}

body {
  max-width: 1440px;
  min-width: 360px;
  margin: 0 auto;
  background: url(../img/radiant-gradient.svg) center center / cover no-repeat
    fixed;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 16vh;
  box-shadow: 0px 1px 8px rgba(36, 36, 36, 0.24);
  fill: #FFF;
  filter: drop-shadow(0px 1px 8px rgba(36, 36, 36, 0.15));
}

.header-info {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.header-logo {
  content: url(../img/graos.svg);
}

.header-title {
  color: #242424;
  font-size: 4rem;
  font-weight: 700;
}

.header-nav {
  font-size: 2rem;
  color: #242424;
  font-weight: 550;
}

.nav-list {
  display: flex;
  gap: 4rem;
}

.list-item > a {
  color: inherit;
  font-size: 2.8rem;
}

.list-item > a:hover {
  text-decoration: underline;
  color: #3c3c3dcc;  
}

.main-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20vh;
  align-items: center;
}

.main-info {
  display: flex;
  flex-direction: column;
  color: #242424;
  font-size: 3.6rem;
  font-weight: 700;
  max-width: 600px;
}

.last-child {
  margin-bottom: 79.8px;
}

.call-link {
  border-radius: 5px;
  background: #fca60f;
  color: #fff;
  font-size: 2.4rem;
  font-weight: 700;
  padding: 11.69px 25px;
  text-align: center;
  max-width: 290px;
}

.call-link:active {
  transition: ease-in-out 0.2s;
  transform: scale(0.8);
}

.call-link:hover {
  filter: brightness(1.1);
}

.social {
  margin-top: 36.14px;
  content: url(../img/redes.svg);
  width: 180px;
  cursor: pointer;
}

.cup-coffee {
  content: url(../img/copo.svg);
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    height: 20vh;
  }

  .main-section {
    flex-direction: column;
    text-align: center;
    padding: 1.6rem;
  }

  .main-info {
    align-items: center;
  }

  .cup-coffee {
    display: none;
  }

  .social {
    margin-top: 311px;
    margin-bottom: 71px;
  }
}
